@import "reset.css";

.background {
  height: 100%;
  position: relative;
}
.background img {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  float: inherit;
}

.left-box {
  width: 30%;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  z-index: 2;
  top: 0px;
  float: left;
}
.left-box__search {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-box__search input {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  width: 80%;
  font-size: 15px;
  color: white;
}
.left-box__search input::placeholder {
  color: white;
}
.left-box__search input::focus {
  outline: none;
}
.left-box__search i {
  color: white;
}

.right-box {
  width: 70%;
  height: 100vh;
  /* background-color: black;
  opacity: 0.5; */
  position: absolute;
  z-index: 2;
  top: 0px;
  float: right;
}
.right-box__day {
  width: 70%;
  height: 100vh;
  opacity: 0.5;
  position: absolute;
  z-index: 2;
  top: 0px;
  float: right;
}
.right-box__day h2 {
  color: white;
}
