{
  "presets": ["@babel/preset-env"],
  "plugins": [],
  "env": {
    "development": {
      "plugins": [
        [
          "module-resolver",
          {
            "alias": {
              "@": "./src"
            }
          }
        ]
      ]
    }
  }
}
